<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clonbuster</title>
</head>
<body style="
background-image: url(fondo1.jpg);
background-position: center;
background-repeat: no repeat;
background-size: cover;
background-attachment: fixed;
">

    <h1
    style="color: white;
    front-family: Arial;
    font-size: 100px;
    "
    >Clonbuster</h1>

    <h2>Bienvenido!</h2>


    <h3> ¿Qué deseas hacer hoy?</h3>
    <button onclick="window.location.href='/usuario'">Usuario</button>
    <button onclick="window.location.href='/pelicula'">Peliculas</button>
    <button onclick="window.location.href='/rentar'">Renta</button>
</body>
</html>