<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar pelicula</title>
</head>
<body>
    <h1>Borrar pelicula</h1>
    <form method="post">
    <label for="idPelicula">Ingrese el ID:</label>
    <input type="text" name="idPelicula" id="idPelicula"/>
    <br>
    <button>Eliminar pelicula</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <button style="background-color: red; color: white; "onclick="window.location.href='/pelicula'">Regresar</button>
</body>
</html>