<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>usuario</title>

</head>
<body>
    <h1>Menú peliculas</h1>
    <h3>¿Qué quieres hacer?</h3>
    <button onclick="window.location.href='/rentar/ver_todos'">Ver todas las películas</button>
    <button onclick="window.location.href='/rentar/ver_renta'">Buscar una película</button>
    <button onclick="window.location.href='/rentar/agregar'">Agregar película</button>
    <button onclick="window.location.href='/rentar/borrar'">Borrar película</button>
    <button style="background-color: red; color: white; "onclick="window.location.href='/'">Regresar</button>

</body>
</html>